name: Lint
on:
  push:
  # pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Read .nvmrc
        id: nvmrc
        run: echo "node-version=$(cat .nvmrc)" >> $GITHUB_OUTPUT

      - name: Set up Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nvmrc.outputs.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
